{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Create Chef - Admin</title>
{% endblock %}

{% block content%}

  <form class="content" action="/admin/chefs" method="post" enctype="multipart/form-data">

    <div class="topic">
      <h2>Creating chef:</h2>
      <button type="submit">Save chef</button>
    </div>
  
    {% include 'admin/chefs/fields.njk' %}
    
  </form>

{% endblock %}