<section class="details">
  <div class="item">
    <h2>Name:</h2>
    <div>
      <input type="text" name="name" value="{{chef.name}}" required>
    </div>
  </div>

  <div class="item">
    <h2>Avatar:</h2>

    <div id="photo-upload">
      <input 
        id="photo-input" 
        type="file" 
        name="avatar" 
        accept="image/*"
        onchange="RecipeImagesUpload.handleFileInput(event, 1)"
        required
      >
      <p>Send Avatar</p>
    </div>

    <div id="images-preview">
      {% if files %}

        {% for image in files %}
          <div id="{{image.id}}" class="image">
            <img src="{{image.src}}" alt="{{image.name}}">
            <i 
              class="material-icons"
              onclick="RecipeImagesUpload.removeOldImage(event)"
              >delete
            </i>
          </div>
        {% endfor %}

        <input type="hidden" name="removed_files">
      {% endif %}
    </div>
  </div>
</section>