<section class="details">
  <div class="item">
    <h2>Name:</h2>
    <div>
      <input type="text" name="name" value="{{chef.name}}" required>
    </div>
  </div>

  <div class="item">
    <h2>Avatar:</h2>
    <div id="photo-upload">
      <input 
        id="photo-input" 
        type="file" 
        name="avatar" 
        value="{{chef.avatar}}"
        accept="image/*"
        required
      >
      <p>Send Avatar</p>
    </div>
  </div>
</section>