<section class="details">
  <div class="item">
    <h2>Name:</h2>
    <div>
      <input type="text" name="name" value="{{chef.name}}">
    </div>
  </div>

  <div class="item">
    <h2>Avatar:</h2>

    <div class="chef-image-container">
      <div id="photo-upload">
        <input 
          id="images-input" 
          type="file"
          name="images" 
          accept="image/*"
          onchange="ImagesUpload.handleFileInput(event, 1)"
        >
        <p>Send Avatar</p>
      </div>

      <div id="images-preview">
        {% if files %}
          <div id="{{files[0].id}}" class="image">
            <img src="{{files[0].src}}" alt="{{files[0].name}}">
            <i 
              class="material-icons"
              onclick="ImagesUpload.removeOldImage(event)"
              >delete
            </i>
          </div>

          <input type="hidden" name="removed_files">
        {% endif %}
      </div>
    </div>
  </div>
</section>