{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/chefs.css'>

  <title>Admin - Chefs</title>
{% endblock %}

{% block content%}

  <div class="topic">
    <h2>Manage Chefs</h2>
    <a href="/admin/chefs/create" class="button">New</a>
  </div>

  <div class='cards chefs'>
    {% for chef in chefs %}
      <div class='card-admin'>
        <img src='{{chef.avatar}}' alt='Imagem de {{chef.name}}'>
        <h3 class='name'>{{chef.name}}</h3>
        <a href="/admin/chefs/{{chef.id}}">Visualize</a>
      </div>
    {% endfor %}
  </div>

{% endblock %}