{% extends 'admin/layout.njk' %}

{% block head %}
  <title>{{chef.name}}</title>
{% endblock %}

{% block header %}
  <a href="/"><img src="/assets/logo_white.png" alt="foodfy"></a>
{% endblock %}

{% block content%}

  <div class='content'>

    <div class="topic">
      <h2>Chef: {{chef.name}}</h2>

      {% if session.isAdmin %}
        <a href="/admin/chefs/{{ chef.id }}/edit" class="button">Edit chef</a>
      {% endif %}
    </div>

    <div class='image__container chef'>
      <img src='{{files[0].src}}' alt='Image of {{chef.name}}'>
      <h3>{{chef.name}}</h3>
      <p>
        {% if chef.total_recipes == 1 %} {{chef.total_recipes}} recipe {% endif %}
        {% if chef.total_recipes >= 0 and chef.total_recipes != 1 %} {{chef.total_recipes}} recipes {% endif %}
      </p>
    </div>

    <div class='ingredients__container recipe'>
      <div class='section'>
        <h3>Recipes:</h3>
      </div>
      
      {% include "admin/parts/recipe_cards.njk" %}
    </div>
  </div>

{% endblock %}