{% extends 'admin/layout.njk' %}

{% block head %}
  <title>{{user.name}}</title>
{% endblock %}

{% block content%}

  <form class="user content" id="form-update" action="/admin/users?_method=PUT" method="post">
    <input type="hidden" name="id" value={{user.id}}>

    <div class="topic">
      <h2>Update User:</h2>
      <div class="buttons">
        <button form="form-delete" type="submit" class="delete">Delete</button>
        <button type="submit" class="save">Save</button>
      </div>
    </div>

    {% include 'admin/users/fields.njk' %}
  </form>

  <form id="form-delete" action="/admin/users?_method=DELETE" method="post">
    <input type="hidden" name="id" value={{user.id}}>
  </form>
  
{% endblock %}