{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/create.css'>

  <title>Create User - Foodfy</title>
{% endblock %}

{% block content%}

  <form class="content" action="/admin/users/register" method="post">

    <div class="topic">
      <h2>Create User:</h2>

      <div class="buttons">
        <button type="submit">Save chef</button>
        <a href="#">Cancel</a>
      </div>
    </div>
  
    {% include 'admin/users/fields.njk' %}
    
  </form>

{% endblock %}