<a class="logo" href="/"><img src="/assets/logo_black.png" alt="foodfy"></a>
<nav>
  <ul class="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/chefs">Chefs</a></li>
    <li>
      <a href="/admin/login">
        <img class="admin-icon"  src="/assets/account_circle.svg" alt="Admin">
      </a>
    </li>
  </ul>
</nav>