<form action="/results" method="get">
  <input 
    type="text" 
    name="filter" 
    value="{{ search.term }}" 
    placeholder="Search for a recipe:"
  >
  <button type="submit">Search</button>
</form>