<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="icon" href="/assets/restaurant-white-18dp.svg" type="image/x-icon" />

<link rel="stylesheet" href="/styles/site/main.css">
<link rel="stylesheet" href="/styles/site/about.css">
