{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/not-found.css">

  <title>Recipe not found!</title>
{% endblock %}

{% block header %}
  <a href="/"><img src="/assets/logo_white.png" alt="foodfy"></a>
{% endblock %}

{% block content %}
  <div class="content">
    <h1>Recipe not found!</h1>
  </div>
{% endblock %}