{% extends 'layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/show.css'>

  <title>{{item.title}}</title>
{% endblock %}

{% block header %}
  <a href="/"><img src="/assets/logo_white.png" alt="foodfy"></a>
{% endblock %}

{% block content%}

  <div class='content'>

    <div class="title">
      <h3>Recipe: {{item.title}}</h3>
      <a href="/admin/recipes/{{ item.id }}/edit" class="button">Edit recipe</a>
    </div>

    <div class='image__container'>
      <img src='{{item.image}}' alt='Imagem de {{item.image}}'>
      <h3>{{item.title}}</h3>
      <p>by {{item.author}}</p>
    </div>
    <div class='ingredients__container recipe'>
      <div class='section'>
        <h3>Ingredients:</h3>
      </div>
      <ul class='data'>
      {% for ingredient in item.ingredients %}
        <li>{{ingredient}};</li>
      {% endfor %}
    </div>
      </ul>
    <div class='preparation__container recipe'>
      <div class='section'>
        <h3>Preparation mode:</h3>
      </div>
      <ul class='data'>
        {% for step in item.preparation %}
          <li>{{step}}</li>
        {% endfor %}
      </ul>
      
    </div>
    <div class='adittional_info__container recipe'>
      <div class='section'>
        <h3>Additional information:</h3>
      </div>
      <p class='data'>{{item.information}}</p>
    </div>

  </div>

  <script src='/scripts/scripts.js'></script>

{% endblock %}