{% extends "admin/layout.njk" %}

{% block content %}
  <div class="error message-lottie">
    <div class="error-lottie"></div>
    <h2>Something went wrong!</h2>
    <a class="button" href="#" onclick="history.back()">Try Again!</a>
  </div>
  
  <script src="/animations/lottie.min.js"></script>
  <script>
    const element = document.querySelector(".error-lottie")

    lottie
      .loadAnimation({
        container: element,
        renderer: "svg",
        loop: true,
        autoplay: true,
        path: "/animations/23921-error-coffee-spilled.json"
      })
      .setSpeed(2.5)
  </script>

{% endblock %}