<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    {% include "./parts/styles.njk"%}

    {% block head %}
      <title>Foodfy</title>
    {% endblock %}  
  </head>

  <body>
    {% include "./parts/messages.njk" %}

    {% include "./parts/header.njk" %}
    
    {% block content%}{% endblock %}

    <script src='/scripts/admin/admin.js'></script>
  </body>
</html>