<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/assets/restaurant-white-18dp.svg" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      
    <link rel="stylesheet" href="/styles/admin/main.css">

    {% block head %}
      <title>Foodfy</title>
    {% endblock %}  
  </head>

  <body>
    {% include "./parts/header.njk" %}
    
    {% block content%}{% endblock %}

    <script src='/scripts/admin/admin.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </body>
</html>