.cards.chefs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  justify-content: center;

  margin: 0px auto;
  width: 100%;
  max-width: 940px;
}

.cards.chefs .card-admin {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "img name"
                       "img view"
  ;
  column-gap: 10px;
  align-items: center;
}

.cards.chefs .card-admin img {
  grid-area: img;

  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.cards.chefs .card-admin h3 {
  grid-area: name;

  width: 100%;
  font-size: 18px;
  font-weight: 400;
  color: var(--body-color);
}

.cards.chefs .card-admin a {
  grid-area: view;

  font-size: 14px;
  font-weight: bold;
  color:var(--button-color);
  cursor: pointer;
}

.cards.chefs .card-admin p {
  font-size: 14px;
  color: #666666;
}

/* Upload Chef image profile */

.chef-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;

  width: 100%;
  max-width: 940px;
}

#photo-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: 140px;
  
  padding-bottom: 0;
}

#photo-upload p {
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 2px -6px #333;
  background-color: var(--button-color);
  color: white;

  width: 100%;
  text-align: center;

  font-size: 16px;
}

#photo-input {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;
  
  opacity: 0;
  
  cursor: pointer;
}