/* Form */

.content {
  display: flex;
  flex-direction: column;

  margin: 0px auto 50px;
  width: 100%;
  max-width: 940px;
}

.item {
  padding-bottom: 30px;
}

.item h2 {
  color: var(--body-color);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea,
select {
  width: 100%;
  padding: 18px 20px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  color: #555;
  font-weight: bold;
  font-size: 16px;
}

textarea {
  height: 257px;
  line-height: 25px;
  resize: vertical;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}