.topic {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.button {
  padding: 8px 20px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;

  margin: 0px auto 50px;
  width: 100%;
  max-width: 940px;
}

.card-admin {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "img name"
                       "img chef"
                       "img view"
  ;
  column-gap: 20px;
}

.card-admin img {
  grid-area: img;
  width: 172px;
  height: 80px;
  border-radius: 15px;
}

.card-admin h3 {
  grid-area: name;
  font-size: 18px;
  font-weight: 400;
  color: var(--body-color);
  margin-bottom: 0;
}

.card-admin p {
  grid-area: chef;
  font-size: 14px;
  color:var(--p-color);
}

.card-admin a {
  grid-area: view;
  font-size: 14px;
  font-weight: bold;
  color: #6558C3;
  cursor: pointer;
}
