.container-header {
  background-color: var(--body-color);
  margin-bottom: 50px;
}

.header {
  margin-bottom: 20px;
}

.header a img {
  margin-right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;

  margin: 0px auto 50px;
  max-width: 940px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.button {
  padding: 8px 20px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-bottom: 50px;
}

.image__container img {
  /* width: 100%;
  height: 280px; */
  /* object-fit: cover;  */

  border-radius: 15px;
  margin-bottom: 50px;
}

.image__container h3 {
  font-weight: bold;
  font-size: 36px;
  color: var(--body-color);
  margin-bottom: 4px
}

.image__container p {
  font-size: 20px;
  color: var(--p-color);
}

.section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.section a {
  width: 61px;
  font-weight: 800;
  font-size: 12px;
  color: #999999;

  cursor: pointer;
}

.ingredients__container, 
.preparation__container {
  margin-bottom: 39px;
}

.title h3,
.ingredients__container h3, 
.preparation__container h3,
.adittional_info__container h3 {
  font-weight: bold;
  font-size: 24px;
  color: var(--body-color);
  margin: 0 8px 20px 0;
}

.ingredients__container li, 
.preparation__container li,
.adittional_info__container p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  list-style: inside;
}

.preparation__container li {
  list-style: decimal;
  margin-left: 20px;
}


/* === ESCONDER DADOS === */

.data.active {
  display: none;
}