.content {
  display: flex;
  flex-direction: column;

  margin: 0px auto 50px;
  max-width: 940px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.button {
  padding: 8px 20px;
  background-color: #6558C3;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.image__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-bottom: 50px;
}

/* gallery */

.image__container .gallery {
  width: 100%;
}

.image__container .highlight > img {
  border-radius: 15px;

  /* margin-bottom: 50px; */
  width: 100%;
  height: 280px;

  object-fit: cover;
  object-position: 50% 50%;

  cursor: zoom-in;
}

.image__container .gallery-preview {
  display: flex;
  justify-content: flex-end;
}

.image__container .gallery-preview img {
  height: 50px;
  width: 50px;

  border: 1px solid #dddddd;

  object-fit: cover;

  opacity: 0.6;

  cursor: pointer;

  transition: 600ms;
}

.image__container .gallery-preview img + img {
  margin-left: 2px;
}

.image__container .gallery-preview img:hover,
.image__container .gallery-preview img.active {
  opacity: 1;
}

/* lightbox recipe gallery*/

.image__container .highlight .lightbox-target {
  position: fixed;
  left: 0;
  top: -100%;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0, .7);

  overflow: hidden;
  z-index: 100;

  opacity: 0;

  transition: opacity 400ms;
}

.image__container .highlight .lightbox-target img {
  margin: auto;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: white;
  box-shadow: 0px 0px 8px rgba(0,0,0, .3);

  width: 90%;
  height: 90%;

  object-fit: contain;
}

.image__container .highlight a.lightbox-close {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 50px;
  height: 50px;

  background: white;

  position: absolute;
  top: -80px;
  right: 0;

  transition: 400ms;
}

.image__container h3 {
  font-weight: bold;
  font-size: 36px;
  color: var(--body-color);
  margin-bottom: 4px
}

.image__container p {
  font-size: 20px;
  color: var(--p-color);
}

.section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.section a {
  width: 61px;
  font-weight: 800;
  font-size: 12px;
  color: #999999;

  cursor: pointer;
}

.ingredients__container, 
.preparation__container {
  margin-bottom: 39px;
}

.title h3,
.ingredients__container h3, 
.preparation__container h3,
.adittional_info__container h3 {
  font-weight: bold;
  font-size: 24px;
  color: var(--body-color);
  margin: 0 8px 20px 0;
}

.ingredients__container li, 
.preparation__container li,
.adittional_info__container p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  list-style: "- " inside;
}

.preparation__container li {
  list-style: decimal;
  margin-left: 20px;
}

/* HIDE DATA */

.data.active {
  display: none;
}

/* CHEFS */

.image__container.chef{
  margin: 50px auto;
}

.image__container.chef img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 30px;

  object-fit: cover;
}

