{% extends "admin/layout.njk" %}

{% block content %}
  <div class="success message-lottie">
    <div class="success-lottie"></div>
    <h2>The user has been saved successfully!</h2>
    <a class="button" href="/admin/users">View all users</a>
  </div>
  
  <script src="/animations/lottie.min.js"></script>
  <script>
    const element = document.querySelector(".success-lottie")

    lottie
      .loadAnimation({
        container: element,
        renderer: "svg",
        loop: true,
        autoplay: true,
        path: "/animations/user/37265-success-animation.json"
      })
  </script>

{% endblock %}