{% extends "site/layout.njk" %}

{% block head %}
  <title>Chefs - Foodfy</title>
{% endblock %}

{% block content%}
  <div class="cards chefs">
    {% for chef in chefs %}
      <div class="card-admin chefs">
        <img src="{{chef.avatar}}" alt="Image of {{chef.name}}" id="{{ chef.id }}">
        <h3 class="name">{{chef.name}}</h3>
        <p>
          {% if chef.total_recipes == 1 %} {{chef.total_recipes}} recipe {% endif %}
          {% if chef.total_recipes >= 0 and chef.total_recipes != 1 %} {{chef.total_recipes}} recipes {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock %}