{% extends "site/layout.njk" %}
{% import "site/parts/section-recipes.njk" as section %}

{% block head %}
  <link rel="stylesheet" href="/styles/site/index.css">

  <title>Foodfy</title>
{% endblock %}

{% block search %}
  <li class="search">
    <form action="/results" method="get">
      <input 
      type="text" 
      name="filter" 
      value="{{ filter }}" 
      placeholder="Search for a recipe:">
      <button type="submit">Search</button>
    </form>
  </li>
{% endblock %}

{% block content %}

  <main class="main">
    <div class="txt">
      <h1>The best recipes</h1>
      <p>Learn how to build the best dishes with recipes created by professionals from all over the world.</p>
    </div>
    <img src="/assets/chef.png" alt="Chef">
  </main>

  {{section.recipes("Most accessed:", "", recipes)}}

{% endblock%}