{% extends "site/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/site/index.css">

  <title>Foodfy</title>
{% endblock %}

{% block search %}
<li class="search">
  <form action="/results" method="get">
    <input 
    type="text" 
    name="filter" 
    value="{{ filter }}" 
    placeholder="Search for a recipe:">
    <button type="submit">Search</button>
  </form>
</li>
{% endblock %}

{% block content %}

  <main class="main">
    <div class="txt">
      <h1>The best recipes</h1>
      <p>Learn how to build the best dishes with recipes created by professionals from all over the world.</p>
    </div>
    <img src="/assets/chef.png" alt="Chef">
  </main>

  <div class="topic">
    <h2>Most accessed:</h2>
  </div>

  <div class="cards">
    {% for recipe in recipes %}
      <div class="card">
        <img src="{{recipe.image}}" id="{{recipe.id}}" alt="Imagem de {{recipe.title}}">
        <h3  class="name">{{recipe.title}}</h3>
        <p>by {{recipe.chef_name}}</p>
      </div>
    {% endfor %}
  </div>

{% endblock%}