<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "./parts/styles.njk"%}

    {% block head %}
      <title>Foodfy</title>
    {% endblock %}  
  </head>

  <body>
    <header class="header">
      {% include "./parts/header.njk" %}
      {% block search %}{% endblock %}
    </header> 
    
    {% block content%}{% endblock %}

    {% include "./parts/footer.njk" %}

    {% include "./parts/scripts.njk" %}
  </body>
</html>