{% extends "site/layout.njk" %}
{% import "site/parts/section-recipes.njk" as section %}

{% block head %}
  <link rel="stylesheet" href="/styles/site/recipes.css">

  <title>Recipes - Foodfy</title>
{% endblock %}

{% block content%}

  {{section.recipes("", "", recipes)}}

{% endblock %}

{% block footer %}
  <div 
  class="pagination"
  data-page={{pagination.page}}
  data-total={{pagination.total}}
  data-filter={{filter}}
  ></div>
  <footer><p>All rights reserved, Foodfy</p></footer>
{% endblock %}