{% extends "site/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/site/recipe.css">

  <title>{{recipe.title}}</title>
{% endblock %}

{% block content%}

  <div class="content">

    <div class="image__container">
      {% if not files[0] %}
        <img src="http://placehold.it/940x280?text=RECIPE WITHOUT IMAGE">
      
        {% else %}
          <img 
            src="{{files[0].src}}" 
            alt="Image of {{ files[0].name }}"
          >
      {% endif %}
      <h3>{{recipe.title}}</h3>
      <p>by {{recipe.chef_name}}</p>
    </div>

    <div class="ingredients__container recipe">
      <div class="section">
        <h3>Ingredients</h3>
        <a class="hide">HIDE</a>
      </div>
      <ul class="data">
      {% for ingredient in recipe.ingredients %}
        <li>{{ingredient}};</li>
      {% endfor %}
      </ul>
    </div>

    <div class="preparation__container recipe">
      <div class="section">
        <h3>Preparation mode:</h3>
        <a class="hide">HIDE</a>
      </div>
      <ul class="data">
        {% for step in recipe.preparation %}
        <li>{{step}}</li>
      {% endfor %}
      </ul>
      
    </div>

    <div class="additional_info__container recipe">
      <div class="section">
        <h3>Additional Information:</h3>
        <a class="hide">HIDE</a>
      </div>
      <p class="data">{{recipe.information}}</p>
    </div>

  </div>

{% endblock %}