{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="/styles/index.css">

  <title>{{info.title}}</title>
{% endblock %}

{% block content %}

  <main class="main">
    <div class="txt">
      <h1>{{info.t1}}</h1>
      <p>{{info.t2}}</p>
    </div>
    <img src="/assets/chef.png" alt="Chef">
  </main>

  <div class="cards">

    {% for recipe in data %}
      <div class="card" id = '{{ data.indexOf(recipe) }}' >
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        <h3 class="name">{{recipe.title}}</h3>
        <p class="cooker">por {{recipe.author}}</p>
      </div>
    {% endfor %}

  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock%}