<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Foodfy</title>

    <link rel="icon" href="/public/assets/restaurant-white-18dp.svg" type="image/x-icon" />

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/receitas.css">
  </head>

  <body>
    
    <header class="header">
      <a href="index.html"><img src="/public/assets/logo.png" alt="foodfy"></a>
      <nav>
        <ul class="menu">
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="receitas.html"><strong>Receitas</strong></a></li>
        </ul>
      </nav>

    </header>

    <div class="cards">

      <div class="card">
        <img src="/public/assets/burger.png" alt="Burger">
        <h3 class="name">Triplo bacon burguer</h3>
        <p class="cooker">por Jorge Relato</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/pizza.png" alt="Pizza">
        <h3 class="name">Pizza 4 estações</h3>
        <p class="cooker">por Fabiana Melo</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/espaguete.png" alt="Espaguete">
        <h3 class="name">Espaguete ao alho</h3>
        <p class="cooker">por Júlia Kinoto</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/lasanha.png" alt="Lasanha">
        <h3 class="name">Lasanha mac n' cheese</h3>
        <p class="cooker">por Juliano Vieira</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/doce.png" alt="Doce">
        <h3 class="name">Docinhos pão-do-céu</h3>
        <p class="cooker">por Ricardo Golvea</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/asinhas.png" alt="Asinhas">
        <h3 class="name">Asinhas de frango ao barbecue</h3>
        <p class="cooker">por Vania Steroski</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/burger.png" alt="Burger">
        <h3 class="name">Triplo bacon burguer</h3>
        <p class="cooker">por Jorge Relato</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/pizza.png" alt="Pizza">
        <h3 class="name">Pizza 4 estações</h3>
        <p class="cooker">por Fabiana Melo</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/espaguete.png" alt="Espaguete">
        <h3 class="name">Espaguete ao alho</h3>
        <p class="cooker">por Júlia Kinoto</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/lasanha.png" alt="Lasanha">
        <h3 class="name">Lasanha mac n' cheese</h3>
        <p class="cooker">por Juliano Vieira</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/doce.png" alt="Doce">
        <h3 class="name">Docinhos pão-do-céu</h3>
        <p class="cooker">por Ricardo Golvea</p>
      </div>
      
      <div class="card">
        <img src="/public/assets/asinhas.png" alt="Asinhas">
        <h3 class="name">Asinhas de frango ao barbecue</h3>
        <p class="cooker">por Vania Steroski</p>
      </div>

    </div>

    <div class="modal-overlay">

      <div class="modal">
        <div class="image-container">
          <img src=""/>
        </div>
        <div class="content-modal">
          <p class="name"></p>
          <p class="cooker"></p>
        </div>
        <div class="close-modal"><a>Fechar modal</a></div>
        
      </div>
    </div>

    <footer><p>Todos os direitos reservados, receitas Foodfy</p></footer>

    <script src="/public/scripts/scripts.js"></script>
  </body>
</html>