{% extends 'layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/recipe.css'>

  <title>{{item.title}}</title>
{% endblock %}

{% block content%}

  <div class='content'>

    <div class='image__container'>
      <img src='{{item.image}}' alt='Imagem de {{item.title}}'>
      <h3>{{item.title}}</h3>
      <p>by {{item.author}}</p>
    </div>
    <div class='ingredients__container recipe'>
      <div class='section'>
        <h3>Ingredients</h3>
        <a class='hide'>HIDE</a>
      </div>
      <ul class='data'>
      {% for ingredient in item.ingredients %}
        <li>{{ingredient}};</li>
      {% endfor %}
    </div>
      </ul>
    <div class='preparation__container recipe'>
      <div class='section'>
        <h3>Preparation mode:</h3>
        <a class='hide'>HIDE</a>
      </div>
      <ul class='data'>
        {% for step in item.preparation %}
        <li>{{step}}</li>
      {% endfor %}
      </ul>
      
    </div>
    <div class='adittional_info__container recipe'>
      <div class='section'>
        <h3>Additional Information:</h3>
        <a class='hide'>HIDE</a>
      </div>
      <p class='data'>{{item.information}}</p>
    </div>

  </div>

  <script src='/scripts/scripts.js'></script>

{% endblock %}