{% extends 'layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/main.css'>
  <link rel='stylesheet' href='/styles/recipes.css'>

  <title>Recipes - Foodfy</title>
{% endblock %}

{% block content%}

  <div class='cards'>

    {% for recipe in data %}
      <div class='card' id= '{{ data.indexOf(recipe) }}' >
        <img src='{{recipe.image}}' alt='Imagem de {{recipe.title}}'>
        <h3 class='name'>{{recipe.title}}</h3>
        <p class='cooker'>{{recipe.author}}</p>
      </div>
    {% endfor %}

  </div>

    <script src='/scripts/scripts.js'></script>

{% endblock %}