{% extends 'layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/main.css'>
  <link rel='stylesheet' href='/styles/recipes.css'>

  <title>{{info.title}}</title>
{% endblock %}

{% block header %}
  <li><a href='/about'>{{info.about}}</a></li>
  <li><a href='/recipes' class='recipes'>{{info.recipes}}</a></li>
{% endblock %}

{% block content%}

  <div class='cards'>

    {% for recipe in recipes %}
      <div class='card' id = '{{ recipes.indexOf(recipe) }}' >
        <img src='{{recipe.image}}' alt='Imagem de {{recipe.title}}'>
        <h3 class='name'>{{recipe.title}}</h3>
        <p class='cooker'>{{recipe.author}}</p>
      </div>
    {% endfor %}

  </div>

    <script src='/scripts/recipes.js'></script>

{% endblock %}