{% macro searchField (entity, target) %}

  <form action="/{{ entity }}" method="get" class="search-field">
    <input 
      type="text" 
      name="filter" 
      value="{{ target }}" 
      placeholder="Search for:"
    >
    <button type="submit">Search</button>
  </form>
  
{% endmacro %}