{% macro searchField (entity, target) %}

  <div class="search-field">
    <form action="/{{ entity }}" method="get">
      <input 
        type="text" 
        name="filter" 
        value="{{ target }}" 
        placeholder="Search for:"
      >
      <button type="submit">Search</button>
    </form>
  </div>
  
{% endmacro %}