.main {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FBDFDB;
  border-radius: 30px;
  width: 100%;
  max-width: 940px;
  height: 366px;
  margin: 0 auto 50px;
}

.main .txt {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 248px;
  margin-left: 54px;
}

.main h1 {
  text-align: left;
  font-size: 32px;
  font-weight: bold;
}

.main p {
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #000000;
  opacity: 0.7;
  margin-top: 10px;
  max-width: 330px;
  max-height: 84px;
}

.main img {
  width: 216px;
  height: 300px;
  margin-right: 100px;
  margin-top: 66px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  justify-content: center;

  margin: 0px auto 50px;
  width: 100%;
  max-width: 940px;
}

.card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  cursor: pointer;
}

.card h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--body-color);
  margin: 20px auto 5px;
}
.card p {
  font-size: 14px;
  color: var(--p-color);
}