:root {
  --body-color: #111111 ;
  --p-color: #777777;
  --p-secondary-color: #999999; 
  --button-color: #6558C3;
  --border-color: #DDDDDD;
  --primary-color: #FBDFDB;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: white;
  color: var(--body-color);
}

/* Header */

.header {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 940px;
  margin: 30px auto 50px;

  position: relative;
}

.header a.logo {
  margin-right: 122.4px;
}

.header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu a {
  color: var(--body-color);
  font-size: 16px;
  margin-right: 30px;
  font-weight: 400;
}

.menu a.active {
  font-weight: bold;
}

.menu a img.admin-icon {
  width: 22px;
  height: 22px;
}

.menu li:last-child a {
  margin-right: 0;
}

/* Footer */

footer {
  margin-top: auto;
  padding: 23px 0;
  width: 100%;
  background-color: #EEEEEE;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: var(--p-secondary-color);
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a,
.pagination span {
  color: var(--body-color);
  font-weight: bold;
  margin-right: 14px;
}

.pagination a:hover {
  color: var(--primary-color);
  transition: 500ms;
  border-bottom: 1px solid var(--button-color);
}