{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Create Recipe - Admin</title>
{% endblock %}

{% block content%}

  <form class="content" action="/admin/recipes" method="post" enctype="multipart/form-data">

    <div class="topic">
      <h2>Register recipe:</h2>
      <button type="submit">Save recipe</button>
    </div>
  
    {% include 'admin/recipes/fields.njk' %}
    
  </form>

{% endblock %}