{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/create.css'>

  <title>Criar receita - Admin</title>
{% endblock %}

{% block content%}

  <form class="content" action="/admin/recipes" method="post">

    <div class="title">
      <h3>Creating recipe:</h3>
      <button type="submit">Save recipe</button>
    </div>
  
    {% include 'admin/recipes/fields.njk' %}
    
  </form>

{% endblock %}