{% extends 'admin/layout.njk' %}

{% block head %}
  <title>{{recipe.title}}</title>
{% endblock %}

{% block content%}

  <form class="content" id="form-update" action="/admin/recipes?_method=PUT" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value={{recipe.id}}>

    <div class="topic">
      <h2>Editing recipe:</h2>
      <div class="buttons">
        <button form="form-delete" type="submit" class="delete">Delete</button>
        <button type="submit" class="save">Save recipe</button>
      </div>
    </div>

    {% include 'admin/recipes/fields.njk' %}
  </form>

  <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
    <input type="hidden" name="id" value={{recipe.id}}>
  </form>
  
{% endblock %}