{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/create.css'>

  <title>{{item.title}}</title>
{% endblock %}

{% block content%}

  <form class="content" id="form-update" action="/admin/recipes?_method=PUT" method="post">
    <input type="hidden" name="id" value={{item.id}}>

    <div class="title">
      <h3>Recipe: {{item.title}}</h3>
      <div class="button">
        <button form="form-delete" type="submit" class="delete">Delete</button>
        <button type="submit" class="save">Save recipe</button>
      </div>
    </div>

    {% include 'admin/recipes/fields.njk' %}
  </form>

  <form id="form-delete" action="/admin/recipes?_method=DELETE" method="post">
    <input type="hidden" name="id" value={{item.id}}>
  </form>
  
{% endblock %}