<section class="details">
  <div class="item">
    <h2>Title:</h2>
    <div>
      <input type="text" name="title" value="{{recipe.title}}" required>
    </div>
  </div>

  <div class="item">
    <h2>Recipe image:</h2>

    <div class="images-container">
      <div id="images-upload">
        <div>
          <input
            id="images-input"
            type="file" 
            name="images" 
            value="{{recipe.image}}" 
            multiple 
            accept="image/*"
            onchange="RecipeImagesUpload.handleFileInput(event)"
            required
          >
          <i class="material-icons">add</i>
        </div>
      </div>

      <div id="images-preview">
      </div>
    </div>
  </div>

  <div class="item">
    <h2>Chef:</h2>
    <div>
      <select name="chef" required>
        <option value="" disable selected>Select a chef</option>
        {% for chef in chefsOptions %}
          <option 
          value="{{ chef.id }}" 
          {% if recipe.chef_id == chef.id %} selected {% endif %}>{{ chef.name }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="item">
    <h2>Ingredients:</h2>
    <div id="ingredients">
      {% if not recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" required>
        </div>
      {% else %}
        {% for ingredient in recipe.ingredients %}
          <div class="ingredient">
              <input type="text" name="ingredients[]" value="{{ingredient}}" required>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <button type="button" class="add-input" name="ingredient">Add new ingredient:</button>
  </div>

  <div class="item">
    <h2>Preparation mode:</h2>
    <div id="steps">
      {% if not recipe.preparation %}
        <div class="step">
          <input type="text" name="preparation[]" required>
        </div>
      {% else %}
        {% for preparation in recipe.preparation %}
          <div class="step">
            <input type="text" name="preparation[]" value="{{preparation}}" required>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <button type="button" class="add-input" name="step">Add new step:</button>
  </div>

  <div class="item">
    <h2>Additional information:</h2>
    <div>
      <textarea name="information">{{recipe.information}}</textarea>
    </div>
  </div>
</section>