{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/recipes.css'>

  <title>Admin - Recipes</title>
{% endblock %}

{% block content%}

  <div class="topic">
    <h2>Gerenciar receitas</h2>
  </div>

  <div class='cards'>
    {% for recipe in recipes %}
      <div class='card-admin'>
        <img src='{{recipe.image}}' alt='Imagem de {{recipe.title}}'>
        <h3 class='name'>{{recipe.title}}</h3>
        <p class='cooker'>por {{recipe.author}}</p>
        <a id="{{recipe.id}}">Visualizar</a>
      </div>
    {% endfor %}
  </div>

{% endblock %}