{% extends "admin/layout.njk" %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/recipes.css'>

  <title>Admin - Recipes</title>
{% endblock %}

{% block content%}

  <div class="topic">
    <h2>Manage Recipes</h2>
    <a href="/admin/recipes/create" class="button">New</a>
  </div>

  {% include "admin/parts/recipe_cards.njk" %}

{% endblock %}