{% extends 'admin/layout.njk' %}

{% block head %}
  <title>Recipe not found!</title>
{% endblock %}

{% block content %}
  <div class="content recipe-not-found">
    <h1>Recipe not found!</h1>
  </div>
{% endblock %}