{% extends 'admin/layout.njk' %}

{% block head %}
  <link rel='stylesheet' href='/styles/admin/show.css'>

  <title>{{recipe.title}}</title>
{% endblock %}

{% block header %}
  <a href="/"><img src="/assets/logo_white.png" alt="foodfy"></a>
{% endblock %}

{% block content%}

  <div class='content'>
    <div class="title">
      <h3>Recipe: {{recipe.title}}</h3>
      <a href="/admin/recipes/{{ recipe.id }}/edit" class="button">Edit recipe</a>
    </div>

    <div class='image__container'>
      <img src='{{recipe.image}}' alt='Imagem de {{recipe.title}}'>
      <h3>{{recipe.title}}</h3>
      <p>by {{recipe.author}}</p>
    </div>
    <div class='ingredients__container recipe'>
      <div class='section'>
        <h3>Ingredients:</h3>
      </div>
      <ul class='data'>
        {% for ingredient in recipe.ingredients %}
          <li>{{ingredient}};</li>
        {% endfor %}
      </ul>
    </div>

    <div class='preparation__container recipe'>
      <div class='section'>
        <h3>Preparation mode:</h3>
      </div>
      <ul class='data'>
        {% for step in recipe.preparation %}
          <li>{{step}}</li>
        {% endfor %}
      </ul>
    </div>

    <div class='adittional_info__container recipe'>
      <div class='section'>
        <h3>Additional information:</h3>
      </div>
      <p class='data'>{{recipe.information | striptags(true) | escape | nl2br }}</p>
    </div>
  </div>

{% endblock %}